body {
  background-image: url(../img/bg.png);
}
h1 {
  margin-top: 10%;
}
h1,
h3 {
  text-align: center;
  color: #0bbaf0;
}
.main {
  text-align: center;
  color: #0bbaf0;
}
.main a {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-decoration: none;
  margin: 4px auto 0 auto;
  display: block;
  width: 62%;
  background-color: #0bbaf0;
  color: #fff;
}
.accordion {
  margin: 0 auto;
  width: 60%;
  transition: all .3s;
  height: 0;
  overflow: hidden;
}
.accordion p {
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #fff;
  transform: translateY(-100px);
  transition: all .3s;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordion:target {
  height: 87px;
  transform: translateY(0px);
}
.accordion:target p {
  transform: translateY(0px);
}
